#image_container {
    width: 100vw;
    height: 50px;
    background: url("../../pictures/logo.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    color: #ddd;
}

.header {
    width: 100%;
    height: 100%;
}