.header {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 300px;
    background-color: #333; /* Dark grey background color */
  }
  
  .header-logo {
    width: 300px;
    margin-right: 50px;
  }
  
  .header-text {
    display: flex;
    flex-direction: column;
    color: #D13F3A; /* Text color */
  }

  .header-text h1 {
    font-size: 10em; /* Adjust the size as needed */
  }
  
